<div class="site-footer">
  <div class="footer__item">
    <h3 class="footer__title">Twitter</h3>
    {{> "twitter"}}

  </div>
  
{{!--   <div class="footer__item">
    <h3 class="footer__title">Instagram</h3>
    {{> "instagram"}}
  </div>
 --}}
  <div class="footer__item">
    <h3 class="footer__title">Navigation</h3>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/online-coaching">Online Coaching</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="/archive-post">Archive</a></p>
  </div>
 </div>

  <script type="text/javascript" src="{{asset "js/app.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/bundle.js"}}"></script>
  {{ghost_foot}}