<footer class="section-padding--sm footer">
  <ul class="footer__social">
  <h4>Follow</h4>
      <li><a class="fa fa-lg fa-twitter" href="http://www.twitter.com/ehagemann" target="_blank"></a></li>
      <li><a class="fa fa-lg fa-instagram" href="https://www.instagram.com/erichagemann" target="_blank"></a></li>
  </ul>
</footer>
