    <div class="graphic-strip">
      <div class="email-signup email-signup__small"> 
        {{> "email-signup"}}
      </div>
      <div class="follow-links follow-links__small">
        <a class="follow-link follow-link__white" href="http://www.twitter.com/ehagemann" target="blank"><i class="fa fa-twitter"></i></a>
        <a class="follow-link follow-link__white" href="http://www.instagram.com/erichagemann" target="blank"><i class="fa fa-instagram"></i></a>
        <a class="follow-link follow-link__white" href="mailto:hagemann.eric@gmail.com" target="blank"><i class="fa fa-envelope"></i></a>
      </div>
    </div>


{{!--         <img class="graphic-strip__icon" src="/assets/images/icons/008-running.svg" />
      
        <img class="graphic-strip__icon" src="/assets/images/icons/001-food-2.svg" />
        <img class="graphic-strip__icon" src="/assets/images/icons/009-bicycle-rider.svg" />
        <img class="graphic-strip__icon" src="/assets/images/icons/002-food.svg" />
        <img class="graphic-strip__icon" src="/assets/images/icons/007-weightlifting.svg" />
        <img class="graphic-strip__icon" src="/assets/images/icons/003-heart-care.svg" />
        <img class="graphic-strip__icon" src="/assets/images/icons/006-swimming-figure.svg" />
 --}}