<div class="subheader">
  <div class="subheader-content-wrap">
    <div class="subheader-content">
      <h2 class="site-title">ENDURO<span>STRENGTH</span>
      </h2>
      <p class="site-subtitle">Built to last</p>
    </div>
    
    <div class="email-signup">
      <h4>Stay up to date whenever new content gets posted.</h4>
      {{> "email-signup"}}
    </div>
  </div>
</div>
