<div class="subheader">
  <div class="subheader-content-wrap">
    <div class="subheader-content">
      <h2 class="site-title"><span>ERIC</span>HAGEMANN
      </h2>
      <p class="site-subtitle">Training for Life</p>
    </div>
    
    <div class="email-signup">
      <h4>Stay up to date whenever new content gets posted.</h4>
      {{> "email-signup"}}
    </div>
  </div>
</div>
