{{!< default}}
{{> "header"}}
<div class="page">
  <div class="page-header">
    <div class="page-image page-image--about">
      <h1 class="page-title">About</h1>
    </div>
  </div>
  <div class="page-content">
    <p>I was born and raised in the small New England town of Brunswick, Maine. But in 2003, at age 16, left my home (with Mom's blessing) and moved north to Ontario, Canada to pursue my dreams of professional hockey. After three seasons and little progress, I decided it was time to move on from the game and I set my sights on an education.</p>

    <p>In 2007, I graduated from the University of Waterloo (Waterloo, Ontario, Canada) with a degree in Honours Kinesiology. From there, I went on to study motor learning and skill acquisition in the Faculty of Medicine at the University of Toronto, and graduated with a Master's in Rehabilitation Science in 2009.</p>

    <img class="img-right-25" src="/assets/images/profile.jpg" />
    <p>In addition to my interests in skill development, it was at this time that I was developing another passion for athletic performance, physical development, and teaching. So after graduation, I decided that rather than pursuing a PhD and a career in academia, I would throw myself into the world of coaching.</p>

    <p>My first experience as a coach was in early 2009 where I worked as a Hockey Director in Nashville, Tennessee. During my year and a half in that position, I was a coach on three separate hockey teams, gave private on-ice lessons to young players, and began working with several athletes as their strength and conditioning coach.</p>

    <p>Then in 2010, I became a Certified Strength and Conditioning Specialist through the NSCA, and moved back to Canada to take the job as Head Strength and Conditioning Coach at Next Level Performance Training in Cambridge, Ontario.</p>

    <p>Today, I continue to work at NLPT and am currently serving as Director of Training. My main responsibilities include rseeing the program design philosophy, developing overall business strategy, content creation and managing the coaching staff.</p>

    <p>In 2016, I decided to tackle my lifelong fear and embarrassment of distance running by challenging myself to run for 137 continuous days. Over that time, I slowly got bit by the endurance bug and am now looking to compete in ultra endurance events.</p>

    <p>I love to write. I love to read. I love to run. I dabble in front end web development and design (NLPT, Mom's consulting site). And when I'm not doing any of that I'm usually curled up with a glass of wine, my girlfriend Chanelle, and our pup Charlie.</p>

    <p>Thanks for stopping by, and feel free to <a href="/contact">drop me a line</a> if you'd like to get in touch.</p>
</div>

</div>