{{!< default}}
{{> "header"}}

<div class="page">
  <div class="page-header">
    <div class="page-image page-image--contact">
      <h1 class="page-title">Contact</h1>
    </div>
  </div>
  <div class="page-content page-content--contact">

    <div id="newapp"></div>
    <h2><i class="fa fa-envelope"></i><a href="mailto:hagemann.eric@gmail.com">hagemann.eric@gmail.com</a></h2>
    <h2><i class="fa fa-twitter"></i><a href="http://www.twitter.com/ehagemann">Twitter</a></h2>
  </div>
</div>