{{!< default}}
{{> "header"}}
<div class="page">
<div class="post-content">
<h1>Resume</h1>
        <h2>Education</h2>
        <h4><b>University of Toronto</b><span> Toronto, ON, Canada, 2007-2009</span></h4>
        <p>Master's of Science, Rehabilitation Science</p>
          <p>Graduate thesis: <em>The role of simulation in rehabilitation: The effectiveness of model hands when learning to make orthoses</em>. Supervised by Heather Carnahan, PhD</p>
        <h4><b>University of Waterloo</b><span> Waterloo, ON, Canada, 2003-2007</span></h4>
        <p>Bachelor's of Science, Honours Kinesiology</p>
          <p>Honours thesis: <em>Criterion-based learning and the retention of a motor skill</em>. Supervised by Richard Staines, PhD</p>
        <h2>Work</h2>
        <h4><b>Next Level Performance Training</b><span> Cambridge, ON, Canada</span></h4>
        <p>Director of Training <span>2015-Present</span></p>
        <p>Head Strength and Conditioning Coach <span>2012-2015</span></p>
        <p>Strength and Conditioning Coach <span>2010-2012</span></p>
        <h4><b>A-Game Sportsplex</b><span> Franklin, TN, USA</span></h4>
        <p>Associate Hockey Director <span>2009-2010</span></p>
        <h4><b>Healthways</b><span> Nashville, TN, USA</span></h4>
        <p>Intern with MyHealthIQ Department <span>Summer 2006, 2007, 2008</span></p>

        <h2>Credentials and certifications</h2>

        <h4><b>Certified Strength and Conditioning Specialist</b><span><em> April 2010 – Present</h4>
        </em></span>
        <p>National Strength and Conditioning Association</p>

        <h2>Seminars and Courses</h2>

        <p>Launch School <span>Online software development program, 2015-2016</span></p>
        <p>Making Movement Better <span>Presenter: Eric Cressey, 2015</span></p>
        <p>Postural Restoration Institute <span>Presenter: Jennifer Poulin, 2015</span></p>
        <p>Canadian Athletics Coaching Conference <span>Presenter: Stu McMillan, Dan Pfaff, Henk Kraaijenhof, 2014</span></p>
        <p>The three hour back assessment <span>Presenter: Stuart McGill, 2014</span></p>
        <p>Boston Sport & Medicine Performance Group <span>Presenter: Various, 2014</span></p>
        <p>Independent Wine Education Guild <span>Level 1 certified, Presenter: Various, 2013</span></p>
        <p>Attitude Nation Weightlifting Seminar <span>Presenter: Jon North, 2013</span></p>
        <p>Poliquin International Coaching Program <span>Level 1 certified, Presenter: Derek Woodske, 2012</span></p>
        <p>Evaluation and Treatment of the Shoulder <span>Presenter: Mike Reinold, 2012</span></p>
        <p>Functional Movement Assessment <span>Level 1 certified, Presenter: Various, 2012</span></p>
        <p>International Youth Coaching Association <span>Presenter: Various, 2011</span></p>

        <h2>Publications</h2>

        <h4><b>Peer Reviewed Journals</b></h4>

        <p>Hagemann, E., Williams, C.K., McKee, P., Stefanovich, A., & Carnahan, H. (2014). Using model hands for learning orthotic fabrication. American Journal of Occupational Therapy, 68, 86-94.</p>
        <p>Walsh, C.M., Hagemann, E., Dubrowski, A., & Carnahan, H. (2013). Proficiency attained at the end of practice best predicts retention performance: Support for a competency-based approach to procedural skills training. Procedia - Social and Behavioural Science, 93, 371-375.</p>
        <p>Stefanovich, A., Williams, C.K., McKee, P., Hagemann, E., & Carnahan, H. (2012). Development and validation of tools for evaluation of orthosis fabrication. American Journal of Occupational Therapy, 66, 739-746.</p>
        
        <h4><b>Published articles</b></h4>

        <p><a href="https://breakingmuscle.com/fitness/low-intensity-training-for-high-intensity-sports">Low intensity training for high intensity sports</a>. Published on Aug 18, 2017. www.breakingmuscle.com</p>

        <h4><b>Academic presentations</b></h4>
        <p>Walsh, C.M., Hagemann, E., Dubrowski, A., & Carnahan, H. Proficiency attained at the end of practice best predicts retention performance: Support for a competency-based approach to procedural skills training. World Conference on Learning, Teaching and Educational Leadership. October 2012, Brussels, Belgium. </p>
        <p>Grierson, L. E. M., Hagemann, E., Zelek, J., & Carnahan, H. The efficacy of a wearable tactile way-finding device. Presented at the 2nd Annual International Multi- Conference on Engineering and Technology Innovation: IMETI 2009, July 2009,Orlando, Fl. </p>
        <p>*Hagemann, E., McKee, P., & Carnahan, H. Learning to Make Orthoses with Simulation. Health Professions Education Global Best Practices in Simulation May, 2009, Toronto, ON.</p>

        <p>Hagemann E, McKee P, Carnahan H. Learning to make orthoses with simulation. Toronto Rehabilitation Institute Research Day, November 2008, Toronto, ON.</p>

        <p>Safir, O., Hagemann, E., Dubrowski, A., Backstein, D., & Carnahan. H. Self-directed practice when learning suturing skills enhances learning. Association for Surgical Education. May, 2008, Salt Lake City, Utah.</p>

        <p>Safir O, Hagemann E, Dubrowski A, Backstein D, Carnahan H. Self-directed practice facilitates learning of a complex suturing task. Wilson Center Research Day, October, 2008, Toronto, ON. </p>

        <p>Carnahan H, Dubrowski A, Walsh C, Hagemann E. The Role of Simulation in the Education of Rehabilitation Professionals. ACRM, October 2008, Toronto, ON.</p>

        <p>Safir O, Hagemann E, Dubrowski A, Backstein D, Carnahan H. The Influence of Self-Directed Practice on Learning Suturing Skills in a Simulated Environment. The Royal College of Physicians and Surgeons of Canada Annual Conference, September 2008, Ottawa, ON.</p>

        <p>Safir O, Hagemann E, Dubrowski A, Backstein D, Carnahan H. The influence of visuomotor simulation training on arthroscopy performance. NASPSPA, June 2008, Niagara Falls, ON.</p>

        <p>Hagemann E, Dubrowski A, Safir O, Carnahan H. Criterion-based practice leads to better retention of a surgical knot-tying skill. Association for Surgical Education, May 2008, Toronto, ON.</p>

        <p>Safir O, Hagemann E, Sekhon G, Dubrowski A, Backstein D, Carnahan H. The influence of fundamentals of laparoscopic surgery (FLS) training on simulated arthroscopy performance. Association for Surgical Education, May 2008, Toronto, ON.</p>

        <p>Hagemann E, Dubrowski A, Carnahan H. Criterion reached at the end of practice best predicts technical skill learning. Wilson Centre Research Day, October 2007, Toronto, ON.</p>

        <p>Hagemann E, Dubrowski A, Carnahan H. How does learning influence forgetting? SCAPPS, November 2007, Windsor, ON.</p>

        <p>Hagemann E, Dubrowski A, Carnahan H. It’s not how long you practice: it’s how well. Toronto Rehabilitation Institute Research Day, November 2007, Toronto, ON.</p>

        <p>Carnahan H, Hagemann E, Dubrowski A. Proficiency at the end of practice predicts retention of a technical clinical skill. The Royal College of Physicians and Surgeons of Canada Annual Conference, September 2007, Winnipeg, MB.</p>
        </div>
</div>