{{!< default}}
{{> "header"}}

<div class="page">
  <div class="page-header">
      <h1 class="page-title">Contact</h1>
  </div>
  <div class="page-content page-content--contact">

    <div id="newapp"></div>
    <h2><i class="fa fa-envelope"></i><a class="contact-link" href="mailto:eric@endurostrengthcoaching.com">eric@endurostrengthcoaching.com</a></h2>
    <h2><i class="fa fa-twitter"></i><a class="contact-link" href="http://www.twitter.com/ehagemann">@ehagemann</a></h2>
  </div>
</div>