{{!< default}}
{{> "header"}}
<div class="page">
  <div class="page-header">
    <div class="page-image page-image--coaching">
      <h1 class="page-title">Coaching</h1>
    </div>
  </div>
  <div class="page-content">
    <p>I provide online personal coaching services to individuals that are looking to make lasting, permanent changes in their fitness, health, and sport performance. Making this kind of change goes far beyond the right training and diet plan. For most, it required a total shift in mindset and adopting a new way to live.</p>

    <p>But this is a tricky path to navigate. Everyone requires a unique approach because no two people are alike.</p>

    <p>For example:</p>

    <ul>
      <li>What <em>exactly</em> is your desired outcome?</li>
      <li>What has your experience with training and exercise been so far?</li>
      <li>What are your health and injury limitations?</li>
      <li>What do you enjoy?</li>
      <li>What's driving you to seek change now?</li>
      <li>What are your pre-existing beliefs around this process?</li>
      <li>What is your daily schedule and access to equipment?</li>
      <li>What other priorities and time commitments do you have?</li>
    </ul>

    <p>The answers to these questions will be different for everyone, and is the reason why no two paths are the same.</p>
    <p>My job as a coach is to create a plan to guide you along your own path, wherever that may be.</p>

    <h3>Approach</h3>

    <p>I believe in the slow path. Making constant, daily progress--no matter how minimal it may be--is the key to truly realizing your potential. For many of those I work with, they're first uncomfortable with the slow pace at which we get moving. But despite how simple and easy it may seem, this path is extremely challenging.</p>

    <p>At the heart of my approach are two things: assessments and communication. The more I know about you, the better coach I can be. Working with me requires that you give me constant updates and feedback, so I can adjust and refine our approach.</p>

    <h3>Format</h3>

    <img class="img-right-50" src="/assets/images/trainingpeaks.png" />

    <p>I use <a href="http://www.trainingpeaks.com">TrainingPeaks</a> software as the portal for communication and program design. Although it was created for endurance athletes in mind, it is a very broad and powerful system that is useful for any kind of athlete or fitness program.</p>

    <p>With TrainingPeaks, your workouts can be accessed via a desktop or mobile app, after which you can report back on the results of the work out, as well as additional comments and feedback.</p>

    <p>In addition to communication via software, regular phone or Skype calls are a constant in my program. Successful coaching is built on successful relationships, and speaking in person adds another dimension to the feedback process that can't be accessed though a workout report. </p>

    <h3>Who is this for?</h3>

    <p>I'm not for everyone. But I believe I will be a good fit for you if you:</p>

    <ul>
      <li>Have struggled with fitness in the past.</li>
      <li>Have injury or movement limitations that have kept you sedentary.</li>
      <li>Want long-term changes in body composition.</li>
      <li>Are a beginner-level athlete interesting in competing in athletic events.</li>
      <li>Appreciate honest feedback.</li>
      <li>Are open-minded to new habits.</li>
      <li>Are willing to communicate regularly.</li>
    </ul>

    <h3>Cost</h3>

    <p>The cost for training with me is $179 per month. There are no contracts or up-front costs.</p>
    <h3>Getting started</h3>
    <p>If you are interested in coaching, I am happy to speak via phone or Skype to hear more about your story, answer questions, and learn more about how (or if) I would be a good fit for you.</p>
    <p>To set up a call, please send me an email to: <a href="mailto:hagemann.eric@gmail.com?subject=Online coaching">hagemann.eric@gmail.com</a>, and I will be in touch with you shortly.</p>
  </div>
</div>
